@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$light-bg: #f5f5f5;
$dark-bg: #181818;
$light-text: #222;
$dark-text: #f5f5f5;
$primary: #4f8cff;
$secondary: #ffb347;
$accent: #ff4f81;
$section1: #f0f4ff;
$section2: #fff7e6;
$section3: #f9f0ff;
$section4: #e6fff7;
$section5: #fff0f6;

:root {
  --bg-color: #f5f5f5;
  --text-color: #222;
  --primary: #4f8cff;
  --primary-1: #a2c2ff;
  --primary-theme: #0059ff;
  --secondary: #ffb347;
  --accent: #ff4f81;
  --font-main:"Montserrat", sans-serif;
  --section1: #f0f4ff;
  --section2: #dfe8ff;
  --section3: #f9f0ff;
  --section4: #e6fff7;
  --section5: #fff0f6;
  --header-bg: #c1c1c13b;
  --header-text: #222;
  --header-height: 40px;
}

[data-theme='dark'] {
  --bg-color: #181818;
  --text-color: #f5f5f5;
  --section1: #0f0f11;
  --section2: #26262d;
  --section3: #232946;
  --section4: #1e2d2f;
  --section5: #2d1e2f;
  --header-bg: #1a1e3178;
  --header-text: #f5f5f5;
  --primary-theme: #4f8cff;
}